<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="enabMod()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <div style="width:100%">
      <img src="assets/icon/logo-text.png" class="logo-center">
    </div>
    <ion-buttons right>
      <button (click)="presentPopover($event)" ion-button icon-only color="royal">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
