slide-comp {

}

ion-slide, ion-slides{
  padding:0;
  margin:0;
}

img {
  max-width: 100%;
   max-height: 100%;
   height: auto;
}

.caja {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
