<!--
  Generated template for the SlideComp component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-slides #test (ionSlideDidChange)="slideChanged()" (change)="slideChanged()">
  <ion-slide *ngFor='let item of images; let i=index' pager>
    <div class="caja" [ngStyle]="{'background-image': 'url(' + item.link + ')'}"></div>
  </ion-slide>
</ion-slides>
