<ion-header>
  <ion-toolbar>

    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>


    <div style="width:100%">
      <img src="assets/icon/logo-text.png" class="logo-center">
    </div>

  </ion-toolbar>
</ion-header>


<ion-content>
  <h2>Other</h2>
</ion-content>
