page-home {

}

ion-item, .item-inner ,
.item-ios, .item-md, ion-label,
.label-ios, .label-md, .item-ios,
.item-md, .item-wp, .list-header-ios,
.list-header-md,
ion-content {
  padding:0;
  margin:0;
}

ion-reorder{
  position: absolute;
  z-index: 99999999;
  right: 10px;
}

.vacio{
  width:100%;
  height: 120px;
}

.btrash{
  overflow: visible;
  position: absolute;
  top:14px;
  z-index: 9999;
}
