<menu (onUpdate)="editSlide($event)"></menu>
<ion-content>

<div class="sub-container">

  <ion-list [virtualScroll]="slides" reorder="{{modificar}}" (ionItemReorder)="reorderItems($event)">
      <ion-item *virtualItem="let images" approxItemHeight="200px">
        <button *ngIf="modificar" ion-button round class="btrash" color="danger" (click)="deleteImg(images)"><ion-icon name="md-trash"></ion-icon></button>
        <slide-comp [images]="images" [indice]="slides.length"  (update)="handleImagesUpdated($event)"></slide-comp>
      </ion-item>
  </ion-list>

  <div class="vacio">

  </div>

</div>

  <ion-toolbar position="bottom" light *ngIf="textmode">
    <ion-searchbar #textInput  [showCancelButton]="true"
      [(ngModel)]="searchtext"  (ionCancel)="onCancelSearchbar($event)"  placeholder="">
    </ion-searchbar>
  </ion-toolbar>

</ion-content>

<ion-footer>
    <ion-fab right bottom>
      <button class="blateral-r" ion-fab><ion-icon class="orange" (click)="otherShare(images)" name="share"></ion-icon></button>
    </ion-fab>

    <ion-fab  left bottom (click)="changeMode()">
      <button class="blateral-l" ion-fab><ion-icon class="orange" name="keypad"></ion-icon></button>
    </ion-fab>

    <ion-fab center bottom class="record recordfab"  (touchstart)="startRecording()" (touchend)="stopRecording()" [ngClass]="displayText">
      <button ion-fab class="pulse-button recordbg"><img src="assets/icon/logo-xpikt.png"></button>
    </ion-fab>
</ion-footer>
